/*estilos de la dashboard*/
body{
  background: #dfdfdf;
}
.top_menu_dash{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: #828282;
  left: 250px;
}
.top_menu_dash ul{
  position: absolute;
  top: 7px;
  right: 250px;
  display: flex;
  font-size: 30px;
}
.top_menu_dash ul li{
  padding: 0px 10px;
}
.left_menu_dash{
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 250px;
  background: #828282;
  font-family: 'lato',sans-serif;;
}
.left_menu_dash ul{
  font-size: 25px;
  padding-top: 5px;
}
.left_menu_dash ul li{
  padding: 20px 10px;
  margin-bottom: 5px;
  transition: .3s;
}
.imagen{
  background: #ffffff;
}
.imagen img{
  width: 230px;
  padding: 30px 7px;
}
.wrap--contenido{
  position: absolute;
  width: 74%;
  margin: 105px 305px;
}
.contenido{
  position: relative;
  font-family: 'lato',sans-serif;
  background: #fff;
  width: 99%;
  padding: 10px;
  border-radius: 5px;
}
.contenido h1{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #a0a0a0;
  margin-bottom: 20px;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
.accion li{
  display: inline;
  padding: 0px 10px;
  cursor: pointer;
}
.accion li i{
  transition: 1s;
}
.accion li i:hover{
  /*color:  #cd0072;*/
  transform: rotate(360deg);
}
.left_menu_dash ul li:hover{
  border-left: 10px solid #ed2194;
  background: #dfdfdf;
}
.top_menu_dash ul li a i:hover{
  color:  #ffffff;
}
