.wrapAlert{
  z-index: 1000;
}

/*estilos de la dashboard*/
.wrap--contenido{
  min-width: 100%;
  min-height: 100vh;
  background: #dfdfdf;
  position: absolute;
  top: 0px;
  left: 0px;
}
.wrapTopMenu{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: #2b3845;
  top: 0px;
  left: 0px;
}
.topMenu{
  margin-right: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topMenu a li{
  margin: 0px 20px;
  font-size: 20px;
  color: #ffffff;
}
.leftMenu{
  z-index: 2;
  position: fixed;
  display: grid;
  grid-template-rows: 100px auto;
  width: 150px;
  height: 100vh;
  background: #2b3845;
  left: 0px;
  top: 0px;
}
.imgLeftMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #35485b;
  margin-bottom: 5px;
}

.menu a li i{
  color: #ffffff;
}
.item{
  margin: 10px;
  color:#ffffff;
}
.menu a li{
  padding: 15px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  color: #ffffff;
  text-transform: capitalize;
}
.menu a li:hover{
  background: #35485b;
}
/*contenedores de la informacion dashboard*/
.contenido{
  margin-left: 200px;
  margin-top: 100px;
  width: 80%;
  min-height: 150px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 15px -5px black;
}
.contenido h1{
  padding: 5px;
  border-bottom: 2px solid #c6c6c6;
  font-size: 35px;
  font-family: 'roboto';
  font-weight: 900;
  margin: 10px;
  text-transform: uppercase;
}
/* estilo pagina principal dashboard */
.table{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 450px;
  grid-gap: 10px;
  padding: 0px 10px 10px 10px;
}
.column{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
}
.result{
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "roboto";
  font-weight: bold;
}
.titleResult{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: arial;
  text-transform: capitalize;
}
/* estilo producto */
.contenidoProduct{
  margin-left: 200px;
  margin-top: 100px;
  width: 80%;
  min-height: 150px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 15px -5px black;
}
.contenidoProduct h1, .contenidoProduct h2{
  padding: 5px;
  font-size: 35px;
  font-family: 'roboto';
  font-weight: 900;
  text-transform: uppercase;
}
.contenidoProduct h4{
  font-size: 15px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: #878787;
  text-transform: uppercase;
  font-family: "roboto";
}
.contenidoProduct h4:hover{
  color: #000;
}
.titleProduct{
  display: grid;
  grid-template-columns: repeat(1,1fr) 150px 150px 150px;
  border-bottom: 2px solid #c6c6c6;
  margin: 10px;
}
.backgroundModalColor, .backgroundModalTalla{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}
.wrapModalColor, .wrapModalTalla{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 11;
  display: none;
}
.modalColor, .modalTalla{
  width: 400px;
  height: 145px;
  background: #fff;
  z-index: 11;
  margin: 37vh auto;
  border-radius: 3px;
  padding: 10px;
}
.modalColor h3, .modalTalla h3{
  border-bottom: 2px solid #c6c6c6;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "roboto";
}
.inputForm label{
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
}
.inputForm input{
  width: 98%;
  padding: 2px;
}
.inputForm{
  font-family: "roboto";
  text-align: center;
  width: 80%;
  margin: 10px auto;
}
.btnForm{
  text-align: center;
}
.btnForm button{
  text-transform: uppercase;
  border: 2px solid #c6c6c6;
  background: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.btnForm button:hover{
  background: #ececec;
}
/*gestion de las categorias*/
.gestion-categoria{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
}
.categorias_ropa a{
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorias_ropa{
  display: grid;
  grid-template-areas:
  "nameCat nameCat deleteCat"
  "nameCat nameCat updateCat";
  grid-template-columns: 70% 10%;
  width: auto;
  height: 100px;
  border: 1px solid #c6c6c6;
  color: #000;
  border-radius: 3px;
}
.nameCat{
  grid-area: nameCat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.updateCat{
  grid-area: updateCat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  cursor: pointer;
}
.deleteCat{
  grid-area: deleteCat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  cursor: pointer;
}
.categorias_ropa a:hover{
  background: #ececec;
}
.categorias_ropa:nth-last-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.categorias_ropa:nth-last-child(1):hover{
  background: #ececec;
}
/*modal de registro de categoria*/
 .background{
   z-index: 15;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.6);
   display: none;
 }
 .wrapModalCategory{
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 16;
   display: none;
 }

 .modalCategoryTitle{
   width: 100%;
   height: 100%;
 }
 .modalCategoryTitle h2{
   font-size: 20px;
   font-weight: 700;
   font-family: "roboto";
   border-bottom: 2px solid #929292;
   width: 95%;
   text-align: center;
   padding: 10px 0px;
   margin: 0px auto;
 }
 .modalCategory{
   width: 300px;
   height: 380px;
   background: #fff;
   border-radius: 3px;
   position: absolute;
   margin: 15vh 39vw;
   display: grid;
   grid-template-rows: 50px auto 50px;
 }
 .alert{
   text-align: center;
   font-family: arial;
 }
 .modalCategoryForm{
   display: grid;
   justify-content: center;
   align-items: center;
   grid-gap: 5px;
   margin-bottom: 5px;
   font-family: arial;
   text-transform: capitalize;
 }
 .frmCategoryName input{
   padding: 3px;
   border-radius: 3px;
   border: 1px solid #c6c6c6;
   outline: none;
 }
 .frmCategoryImg{
   text-align: center;
 }
 .frmCategoryImg h2, .modalCategory button{
   background: #2b3845;
   border: none;
   padding: 5px;
   margin: 5px;
   text-align: center;
   color: #fff;
   border-radius: 3px;
   font-family: arial;
   font-size: 15px;
   text-transform: capitalize;
   cursor: pointer;
   outline: none;
 }
 .frmCategoryImg h2:hover, .modalCategory button:hover{
   background: #35485b;
 }
/* actualizar categorias */
.modalUpdateCategory{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
}
.wrapUpdateCategory{
  background: #fff;
  margin: 15vh auto;
  width: 400px;
  border-radius: 3px;
}
.frmUpdateCat{
  padding: 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "titulo"
  "nombre"
  "estado"
  "imagen"
  "confirmar";
  grid-gap: 10px;
  font-family: "roboto";
}
.modalUpdateCategoryBtn, .modalUpdateCategoryBtnC, .frm-group h2{
  border: none;
  outline: none;
  padding: 5px;
  background: #2b3845;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  width: 100%;
}
.modalUpdateCategoryBtn:hover, .modalUpdateCategoryBtnC:hover, .frm-group h2:hover{
  background: #35485b;
}
.frm-group h3{
  border-bottom: 2px solid #929292;
  font-size: 20px;
  font-family: "roboto";
  font-weight: 700;
  padding: 10px 0px;
}
.frm-group{
  text-align: center;
}
.frm-group{
  text-align: center;
}
.frm-group input{
  width: 98%;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #c6c6c6;
}
/*gestion de los productos*/
.obligatorio{
  color: red;
}
.wrapForm{
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin: 0px auto;
  font-family: arial;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
}
.wrap-form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0px auto;
  font-family: arial;
}
.regProdCat select, .regProdCat .ms-parent{
  width: 200px;
  height: 24px;
  margin-top: 1px;
  border-radius: 4px;
}
.form-producto{
  display: grid;
  grid-template-rows: repeat(3,50px) auto 50px;
  width: 870px;
  height: 420px;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}
.wrapRegProdCat{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.regPro{
  display: flex;
  justify-content: center;
  align-items: center;
}
.regPro input{
  width: 70%;
}
.regProdCol, .regProdTal{
  padding-left: 15px;
}
.regProdImg{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.Cambiar--img{
  display: grid;
  justify-content: center;
  align-items: center;
}
.btnImg{
  text-align: center;
  margin: 10px;
  padding: 15px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  cursor: pointer;
}
.btnImg:hover{
  background: #d4d4d4;
}
.regProdReg{
  text-align: center;
}
.regProdReg button:hover{
  background: #d4d4d4;
}
.regProdReg button{
  height: 100%;
  width: 40%;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: none;
  outline: none;
  cursor: pointer;
}
/* formulario de registro de productos */
.formProducto{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,50px);
  grid-column-gap: 50px;
  grid-template-areas:
  "item1 item2"
  "item3 item4"
  "item5 item6"
  "item7 item8"
  "item9 item9";
}
.item1{grid-area: item1}
.item2{grid-area: item2}
.item3{grid-area: item3}
.item4{grid-area: item4}
.item5{grid-area: item5}
.item6{grid-area: item6}
.item7{grid-area: item7}
.item8{grid-area: item8}
.item9{grid-area: item9}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  width: 90%;
}
.btnUpdatePro:hover, .btnUpdateImg:hover{
  background: #d4d4d4;
}
.btnUpdatePro, .btnUpdateImg{
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  background: none;
  padding: 10px 30px;
  width: 50%;
  cursor: pointer;
  outline: none;
}
.btnUpdateImg{
  width: 100%;
}
/*estilos de los productos */
.wrap-produ{
  margin: 15px;
}
.wrap-produ table{
  width: 100%;
}
table,th,tr,thead,tbody,td{
  border: 1px solid #c6c6c6;
  text-align: center;
}
table{
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  margin: 5px 0px;
}
table.dataTable.no-footer {
  border: 1px solid #c6c6c6;
}
.btn-productos{
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 40px;
  cursor: pointer;
}
td a i{
  color: #000;
}
/* TODO: solicion a error */
.btn.btn-success.upload-result{
  background: #d0d0d0;
  color: #000;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}
/*------------------------*/
/* estilo de galeria de videos dash */
.wrapVideos{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,347px);
  grid-gap: 10px;
  margin: 10px;
}
.itemVideo{
  display: grid;
  grid-template-areas:
  "namVideo namVideo namVideo namVideo"
  "video video video video"
  "btnEdit btnPlay btnFull btnDelete";
  grid-template-rows: 50px 300px 50px;
  grid-template-columns: repeat(4,1fr);
  margin: 10px 0px;
}
#stop{
  display: none;
}
.video{
  grid-area: video;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.nameVideo h2{
  margin: 10px;
  font-family: "roboto";
}
.nameVideo{
  grid-area: namVideo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}
.btnEdit{
  grid-area: btnEdit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  border-radius: 0px 0px 0px 3px;
}
.btnDelete{
  grid-area: btnDelete;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  border-radius: 0px 0px 3px 0px;
}
.btnDown{
  grid-area: btnDown;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  border: 1px solid #c6c6c6;
}
.btnFull{
  grid-area: btnFull;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
}
.btnPlay, .btnStop{
  grid-area: btnPlay;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
}
.btnHidden{
  display: none;
}
.btnEdit:hover, .btnDelete:hover, .btnPlay:hover, .btnFull:hover, .btnDown:hover, .btnStop:hover{
  background: #ebe7e7;
  color: #000;
}
.itemVideo:nth-last-child(1){
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
  min-height: 398px;
}
.itemVideo:nth-last-child(1):hover{
  background: #ebe7e7;
}
/* estilos del modal registro de videos */
.fondoModalVideo, .fondoModalVideoEdit{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 14;
}
.wrapModalVideo, .wrapVideoEdit{
  z-index: 15;
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}
.modalVideo, .videoEdit{
  border-radius: 3px;
  background: #ffffff;
  width: 550px;
  height: 220px;
  margin: 36vh auto;
}
.modalVideo form, .videoEdit form{
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 550px;
}
.wrapTitle h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 10px 15px;
  height: 100%;
  font-family: arial;
  border-bottom: 2px solid #c6c6c6;
  text-transform: uppercase;
  font-size: 20px;
}
.wrapTitle{
  width: 100%;
  height: 100%;
}
.wrapNameVideo input{
  width: 70%;
  border-radius: 3px;
  border: 1px solid #969191;
  padding: 2px;
}
.wrapNameVideo input:valid ~ label,.wrapNameVideo input:focus ~ label{
  transform: translateY(-22px);
  color: #000;
  transition: .3s;
}
.wrapNameVideo label{
  position: absolute;
  font-family: arial;
  padding-bottom: 3px;
  text-transform: capitalize;
  color: #bfbdbd;
}
.wrapNameVideo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrapNameVideo input:focus{
  outline: none;
}
.upLoad input{
  margin: 10px;
}
.wrapFileVideo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.wrapBtnVideo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapBtnVideo button{
  background: none;
  border: 1px solid #969191;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
}
.wrapBtnVideo button:hover{
  background: #d6d2d2;
}
/* img de productos */
.wrapImgGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  grid-gap: 10px;
}
.forma-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px auto;
  border: 2px solid #c6c6c6;
  border-radius: 3px;
}
.forma-group h2:hover, .img-product .deleteImgProduct:hover{
  background: #d6d2d2;
}
.forma-group h2, .img-product .deleteImgProduct{
  width: 60%;
  cursor: pointer;
  font-family: "roboto";
  border: 2px solid #c6c6c6;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  margin: 5px 0px;
}
.img-product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #c6c6c6;
  border-radius: 3px;
  padding: 10px;
}
.wrapp-img{
  padding: 10px;
}
/* estilo noticias */
.wrapNewsGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  grid-gap: 10px;
}
.itemNews{
  display: grid;
  grid-template-rows: 50px auto 50px 50px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}
.newsTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "roboto";
  font-weight: bolder;
  border-bottom: 1px solid #c6c6c6;
  text-transform: uppercase;
}
.newsImg{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}
.wrapImg{
  text-align: center;
  background: #000;
  width: 100%;
  height: 100%;
}
.newsDesc{
  padding: 10px;
  font-family: arial;
  border-bottom: 1px solid #c6c6c6;
}
.text{
  max-width: 324px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.newsBtn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.newsEdit, .newsDelete{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.newsEdit{
  border-right: 1px solid #c6c6c6;
}
.itemNews:nth-last-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.itemNews:nth-last-child(1):hover, .newsEdit:hover, .newsDelete:hover{
  background: #d6d2d2;
}
.itemNews:nth-last-child(1) .newsTitle{
  width: 100%;
  border: none;
  font-size: 30px;
  font-weight: normal;
  height: 350px;
}
.backgroundModalBlog{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modalBlog{
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}
.newNew{
  text-align: center;
  font-family: arial;
  margin-bottom: 10px;
}
.newInput{
  width: 98%;
  margin-top: 10px;
  outline: none;
  font-family: arial;
}
.imgSummary{
  text-align: center;
  font-family: arial;
}
.wrapBtnNewNew{
  width: 100%;
  height: 51px;
  text-align: center;
}
.btnNewNew{
  padding: 16px 40px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  cursor: pointer;
  background: none;
  outline: none;
  text-transform: capitalize;
}
.btnNewNew:hover{
  background: #d6d2d2;
}
/* ------------------------------------------ */
.wrapStructure{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  grid-column-gap: 5px;
  padding: 10px;
  margin: 0px auto;
}
.opciones-de-agregar{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 5px;
}
.newContent{
  border: 1px solid #c6c6c6;
  background: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.newContent:hover{
  background: #d6d2d2;
}
.newStructure{
  display: grid;
  grid-template-columns: auto 50px;
  width: 75%;
  margin: 0px auto;
}
.eliminar-add{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-left: 1px solid #c6c6c6;
  margin-bottom: 10px;
}
.noticia-parrafo{
  font-family: arial;
  margin-bottom: 10px;
}
.noticia-titulo{
  text-transform: capitalize;
  font-weight:bold;
  font-family: "Roboto";
  font-size: 30px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.container-parrafo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
  font-family: arial;
  margin-bottom: 10px;
}
/* detalle noticia */
.newDetail{
  padding: 10px;
  width: 80%;
  margin: 0px auto;
}
.det-noticia-titulo{
  text-transform: capitalize;
  font-weight:bold;
  font-family: "Roboto";
  font-size: 30px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.det-noticia-parrafo{
  font-family: arial;
  margin-bottom: 10px;
}
.det-container-parrafo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
  font-family: arial;
  margin-bottom: 10px;
}
.det-noticia-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.det-noticia-img img{
  max-width: 100%;
  max-height: 100%;
}
/* pedidos */
.titleProductTable{
  display: grid;
  grid-template-columns: repeat(1,1fr) 150px 150px;
  border-bottom: 2px solid #c6c6c6;
  margin: 10px;
}
