.slider-landing{
  width: 100%;
  height: 150vh;
}
.slider-landing img{
  width: 100%;
  height: 100%;
  animation: slider 20s infinite;
}
@keyframes slider {
  0%,25%{
    content: url("../img/IMG_2737.jpg");
  }
  26%,50%{
    content: url("../img/IMG_2744.jpg");
  }
  51%,75%{
    content: url("../img/IMG_2747.jpg");
  }
  76%,100%{
    content: url("../img/IMG_2764.jpg");
  }
}
.landing-seccion2, .landing-seccion3{
  width: 100%;
}
.titulo_seccion_land{
  width: 100%;
  text-align: center;
  padding: 100px 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.contenido-land{
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
}
.titulo_seccion_land h2{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 300;
  font-family: 'anton';
}
.bloque{
  background: lime;
  width: 544px;
  height: 300px;
  margin: 15px;
}
.bloque h2{
  text-align: center;
  font-size: 40px;
}
.prod{
  width: 343px;
  height: 343px;
  background: red;
  margin: 20px 20px 60px 20px;
}
/*RESPONSIVE media query*/

@media (max-width: 325px){
  .slider-landing{
    width: 100%;
    height: 40vh;
  }
}
