.modal{
  display: none;
  z-index: 16;
  left: 32%;
  top: 20vh;
  position: fixed;
  width: 450px;
  height: 400px;
  box-shadow: 0 1px 20px -8px black;
  overflow: hidden;
  font-family: arial, sans-serif;
  background: #fff;
  transition: 0.3s;
}
#fondo{
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 15;
  top: 0px;
  left: 0px;
}
.olvi_contra{
  right: 0px;
  position: absolute;
  font-size: 12px;
  margin-top: 5px;
}
.olvi_contra a{
  color: #908c8c;
}
.olvi_contra a:hover{
  color: #f1396d;
}
.agrandar_modal{
  height: 600px;
  top: 3vh;
}
.cerrar{
  z-index: 7;
  position: absolute;
  right: 10px;
  font-size: 20px;
}
/*estilos del login*/
.login{
  width: 450px;
  height: 100%;
  background: none;
}
.titulo{
  position: relative;
  font-size: 30px;
  background-color: #9D133A;
  padding: 15px 17px;
}
.titulo h2{
  color: white;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: lighter;
}

#cerrar_modal{
  background-color: #ce587a;
  border-radius: 300px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffc8d8;
  cursor: pointer;
}
.login form p{
  color: #6b6565;
  margin:20px auto 25px auto;
  line-height: 20px;
  font-size: 16px;
}
.formulario{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}
.caja_usuario{
  position: relative;
  height: 30px;
  margin-top: 40px;
}

.wrap-content-form{
  padding: 0px 20px;
  position: absolute;
  width: 91%;
  height: 85%;
}

.caja_usuario, .caja_contra{
  margin-bottom: 40px
}

.caja_usuario label, .caja_contra label{
  font-size: 16px;
}

.caja_contra{
  position: relative;
  height: 30px;
  border-radius: 5px;
}
.label{
  position: absolute;
  top: 8px;
  z-index: 2;
  color: #b1b1b1;
  font-size: 20px;
  padding-left: 5px;
  background: none;
  cursor: text;
}
.input{
  background: #e4e4e4;
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #c6c6c6;
  outline: none;
}
.btn_inicio{
  display: flex;
  justify-content: center;
  position: absolute;
  right: 22px;
  width: 91%;
  bottom: 15px;
}
.ini_sesion, .ir_registro{
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 2px;
  background: #9D133A;
  color: #ffffff;
  cursor: pointer;
  width: 45%;
  height: 100%;
  text-transform: capitalize;
}
.ir_registro{
  margin-left: 15px;
}
/*estilos del registro*/
.registro{
  z-index: 6;
  position: absolute;
  top: 0px;
  left: 450px;
  width: 100%;
  height: 600px;
  background: #ffffff;
}
.registro form p{
  color: #6b6565;
  margin: 20px auto 25px auto;
  line-height: 20px;
  font-size: 16px;
}
.mover_registro{
  transform: translateX(-100%);
  background: #fff;
}
.titulo_registro{
  position: relative;
  top: 30px;
  padding-bottom: 30px;
  margin: 0px 120px;
  font-size: 30px;
}
.titulo_registro h2{
  color: #f1396d;
}
.btn_registrarse{
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 2px;
  background: #9D133A;
  color: #ffffff;
  cursor: pointer;
  width: 45%;
  height: 100%;
}
.btn_registro{
  display: flex;
  justify-content: center;
  position: absolute;
  right: 22px;
  width: 90%;
  bottom: 15px;
  text-transform: capitalize;
}
.btn_registro button{
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 3px;
  position: relative;
  background:  #9D133A;
  color: #ffffff;
  cursor: pointer;
}
.caja_nombre{
  position: relative;
  width: 100%;
  height: 30px;
}
.caja_registros_usu{
  position: relative;
  height: 30px;
  width: 100%;
  margin: 50px 0px;
}
.input:focus,.input:valid{
  border-bottom: 2px solid #f1396d;
  transition: .3s;
}
.input:focus ~ .label,.input:valid ~ .label{
  transform: translateY(-25px);
  font-size: 15px;
  color: #f1396d;
  transition: .3s;
  cursor: default;
}
.message{
  font-family: arial;
}
