.modal{
  z-index: 5;
<<<<<<< HEAD
  display: inline-block;
=======
  display: none;
>>>>>>> 2a2754c91e81e0dd1140dd4c0e6780f69655caf1
  position: fixed;
  width: 500px; /*467px*/ /*450px*/
  height: 400px; /*400px*/
  box-shadow: 0 1px 20px -8px black;
  overflow: hidden;
  font-family: "lato", sans-serif;

}
/*estilos del login*/
.login{
  width: 450px;
  height: 400px;
  background: #ffffff;
}
.titulo{
  position: relative;
  top: 30px;
  margin: 0px 70px;
  font-size: 30px;
}
.titulo h2{
  color: #f1396d;
}
.formulario{
  position: relative;
  width: 100%;
  height: 100%;
}
.caja_usuario{
  position: relative;
  top: 100px;
  height: 30px;
  margin: 0px 50px;
  background: #e4e4e4;
  border-radius: 5px;
}
.caja_contra{
  position: relative;
  top: 160px;
  height: 30px;
  margin: 0px 50px;
  background: #e4e4e4;
  border-radius: 5px;
}
.label{
  position: absolute;
  top: 3px;
  z-index: 2;
  color: #c6c6c6;
  font-size: 20px;
  padding-left: 5px;
}
.input{
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  border-bottom: 2px solid #c6c6c6;
}
.btn_inicio button{
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  margin: 0px 166px;
  position: relative;
  top: 210px;
  background: #f1396d;
  color: #ffffff;
}

/*estilos del registro*/
.registro{
  position: absolute;
  top: 0px;
  left: 450px;
  width: 450px;
  height: 600px;
  background: #dddddd; /*c6c6c6*/
}
.titulo_registro{
  position: relative;
  top: 30px;
  padding-bottom: 30px;
  margin: 0px 120px;
  font-size: 30px;
}
.titulo_registro h2{
  color: #f1396d;
}
.btn_registro{
  position: relative;
  top: 20px;
}
.btn_registro button{
  border: none;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  margin: 0px 166px;
  position: relative;
  background: #f1396d;
  color: #ffffff;
}
.caja_nombre{
  position: relative;
  margin: 50px 60px;
}
.caja_apellido{
  position: relative;
  margin: 50px 60px;
}
.caja_correo{
  position: relative;
  margin: 50px 60px;
}
.caja_pass{
  position: relative;
  margin: 50px 60px;
}
.caja_conpass{
  position: relative;
  margin: 50px 60px;
}
.input:focus,.input:valid{
  border-bottom: 3px solid #3498db;
}
.input:focus ~ .label,.input:valid ~ .label{
  transform: translateY(-40px);
  color: #3498db;
}
