/*menu superior*/
body{
  background: #ecf0f1;
}
.wrapPaginas{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.paginas span, .paginas a{
  font-size: 20px;
  color: #000000;
  font-family: "Roboto";
  border: 1px solid #b5b5b5;
  background: #c6c6c6;
  width: 50px;
  height: 50px;
  padding: 5px 10px;
}
.paginas span{
  background: #a6a6a6;
}
.wrapTopMenu{
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background: #000000;
}
.wrapLogo{
  width: 55%;
}
.logo{
  width: 100px;
  height: 100px;
  margin-left: 13%;
}
.img{
  position: absolute;
  top: 10px;
  left: 110px;
}
.ribbon {
  width: 0px;
  height: 65px;
  border-left: 50px solid #ea0086;
  border-right: 50px solid #ea0086;
  border-bottom: 35px solid transparent;
}
.topMenu{
  font-family: "Roboto";
  display: grid;
  grid-template-areas:
  "item1 item2 item3 item4";
  width: 45%;
  font-size: 15px;
  font-weight: bold;
}
.topMenuLogeado{
  font-family: "Roboto";
  display: grid;
  grid-template-areas:
  "item1 item2 item3 item4 item5 item6";
  width: 45%;
  font-size: 15px;
  font-weight: bold;
}
.itemMenu, .itemMenu h2, .itemMenu a{
  text-transform: capitalize;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ea0086;
  font-size: 15px;
}
.itemMenu:hover, .itemMenu h2:hover, .itemMenu a:hover{
  background: #ea0086;
  color: #fff;
  cursor: pointer;
}
.drop{
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropContent a{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent a:hover{
  color: #000000;
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropContent{
  display: block;
}

.dropdown:hover .drop{
  background-color: #ea0086;
  color: #ffffff;
}
/*slider / primera seccion*/
.slider{
  z-index: 1;
  position: relative;
  background-image: url("../img/fototienda.jpg");
  height: 70vh;
  width: 100%;
  background-size: cover;
}
.slider .wrap--text{
  position: absolute;
  bottom: 70px;
  left: 50px;
  min-width:600px;
}
.wrap--text h2{
  font-family: "Lato";
  font-weight: 300;
  font-size: 140px;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.9
}
.wrap--text h3{
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin: 0;
  text-align: right;
}
/*seccion 2 tienda*/
.wrap-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  width: 75%;
  margin: 20px auto;
}
.item{
  background: #dddddd;
  box-shadow: 0 5px 20px -10px #000;
}
.wrap-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background: black;
}
.wrap-img img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.item .nombre-produc, .precio-produc{
  font-size: 25px;
  font-family: 'Roboto';
  margin: 10px;
  text-transform: capitalize;
}
.item button{
  position: relative;
  margin: 10px 54px;
  border: none;
  background: #9d133a;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.item button:hover{
  background: #c61848;
}
/*modal detalles de los articulos*/
.fondoModal{
  display: none;
  position: fixed;
  z-index: 13;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}
.wrap-modalDetalle{
  display: none;
}
.modalDetalle{
  z-index: 14;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 100%;
  grid-gap: 10px;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
  background: #fff;
  padding: 10px;
  margin: 15vh 25%;
  border-radius: 3px;
}
.image{
  display: grid;
  grid-template-areas:
  "empty imgP imgP empty"
  "empty imgP imgP empty"
  "img1 img2 img3 img4"
  "img1 img2 img3 img4";
  width: 100%;
  height: 100%;
  background: red;
}
.image img{
  width: 100%;
  height: 100%;
}
.wrap-detalle{
  font-size: 20px;
  font-family: 'lato';
  text-transform: capitalize;
}
.wrap-detalle .nombre{
  font-size: 30px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.wrap-detalle .descripcion{
  font-size: 15px;
}
.wrap-detalle .precio, .talla, .color, .cantidad{
  margin-top: 20px;
}
.wrap-detalle .cantidad input{
  width: 50px;
}
.wrap-detalle button{
  position: relative;
  border: none;
  background: #9d133a;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
}
.wrap-detalle button:hover{
  background: #c61848;
}
/*carrito de compras*/
.carrito{
  display: none;
  z-index: 3;
  position: fixed;
  width: 450px;
  top: 50px;
  right: 0px;
  background: #ecf0f1;
  height: 93vh;
  font-family: 'lato';
  font-weight: lighter;
  box-shadow: -5px 0px 20px -10px black;
}
.titulo-carrito{
  background: lime;
  padding: 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #9d133a;
}
.btn-comprar{
  width: 100%;
  height: 50px;
}
.btn-comprar button{
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #9d133a;
  width: 95%;
  outline: none;
  position: relative;
  margin: 1.4% 2.5%;
  border-radius: 3px;
}
.btn-comprar button:hover{
  background: #c61848;
}
.wrap-items-carrito{
  width: 100%;
  height: 82%;
  overflow: auto;
}
.item-carrito{
  display: grid;
  grid-template-columns: 120px repeat(2,1fr);
  grid-gap: 10px;
  width: 100%;
  height: 128px;
  margin: 10px 0px;
  background: #dedede;
}
.item-cart-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.item-cart-img img{
  width: 100%;
}
.item-cart span{
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 10px;
}
.item-cart{
  font-family: 'lato';
  padding: 10px 0px;
}
.restar-carrito{
  border: none;
  outline: none;
  padding: 8px 10px;
  background: #9d133a;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.restar-carrito:hover{
  background: #c61848;
}
/* modal carrito */
.wrapModal{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
}
.modalCart{
  width: 430px;
  height: 330px;
  background: #ffffff;
  margin: 18vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.fondoModalCart{
  display: none;
  position: fixed;
  z-index: 14;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}
.formCart{
  display: grid;
  width: 100%;
  height: 100%;
}
.frm-group{
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frm-group button, .frm-group:nth-last-child(1) input{
  width: 150px;
  height: 30px;
  border: none;
  background: #9d133a;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 0px 10px;
  outline: none;
}
.frm-group button:hover, .frm-group:nth-last-child(1) input:hover{
  background: #c61848;
}
/* noticias */
.noticias{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.formatOne{
  display: grid;
  grid-template-areas:
  "imgFormatOne newFormatOne";
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px;
  height: 100%;
  width: 75%;
  margin: 5px 0px;
  border: 1px solid #e3e3e3;
  padding: 5px;
  border-radius: 3px;
}
.formatTwo{
  display: grid;
  grid-template-areas:
  "newFormatTwo imgFormatTwo";
  grid-template-columns: 60% 40%;
  grid-template-rows: 300px;
  height: 100%;
  width: 75%;
  margin: 5px 0px;
  border: 1px solid #e3e3e3;
  padding: 5px;
  border-radius: 3px;
}
.formatOne .imgNew{
  grid-area: imgFormatOne;
  width: 100%;
  height: 100%;
}
.formatOne .new{
  grid-area: newFormatOne;
  width: 100%;
  height: 100%;
  border-left: 2px solid #e3e3e3;
  padding-left: 5px;
}
.formatTwo .imgNew{
  grid-area: imgFormatTwo;
  width: 100%;
  height: 100%;
}
.formatTwo .new{
  grid-area: newFormatTwo;
  width: 100%;
  height: 100%;
  border-right: 2px solid #e3e3e3;
  padding-right: 5px;
}
.new{
  display: grid;
  grid-template-areas:
  "titleNew"
  "summaryNew";
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
}
.titleNew{
  grid-area: titleNew;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleNew h2{
  font-size: 40px;
  border-bottom: 2px solid #cbcbcb;
  padding: 10px 0px 0px 0px;
  width: 95%;
  text-transform: uppercase;
  font-family: "Roboto";
}
.summaryNew{
  grid-area: summaryNew;
  width: 98%;
  font-family: "Lato";
}
.summaryNew span:hover{
  color: #ea0086;
  cursor: pointer;
}
.imgNew{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgNew img{
  width: 100%;
  height: 100%;
}
/* estilos de la secion videos */
.wrapVideos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.videos{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 250px;
  grid-gap: 10px;
  padding: 20px;
}
.itemsVideos{
  display: grid;
  grid-template-areas:
  "video"
  "videoTitulo";
  border-radius: 3px;
  box-shadow: 0 5px 20px -10px #000;
  border: 1px solid #d5d5d5;
}
.video{
  display: grid;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
}
.videoTitulo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px 0px 3px 3px;
  cursor: pointer;
}
.videoTitulo h2{
  padding: 5px;
  font-size: 25px;
  text-transform: capitalize;
  font-size: "Lato";
}
/* modal reproducir videos */
.backgroundVideo{
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 15;
  width: 100%;
  height: 100vh;
  display: none;
}
.wrapPlayVideo{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: 16;
  display: none;
}
.wrapPlayVideo video{
  margin: 5vh 13vw;
}
/* perfil usuario */
/* .wrapProfile{
  width: 100%;
  height: 100vh;
}
.profile{
  width: 80%;
  height: 586px;
  padding-top: 50px;
  margin: 0px auto;
} */
/*footer usuario*/
.footer{
  background: black;
  width: 100%;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  font-family: 'lato';
}
.contacto-titulo{
  font-size: 20px;
  padding: 5px;
  font-weight: 900;
  text-transform: uppercase;
}
.contacto-numero{
  padding: 5px;
}
.iconos-social{
  padding: 5px 0px 5px 0px;
  font-size: 25px;
  font-family: 'lato';
  text-transform: uppercase;
}
.iconos-social a{
  color: #fff;
}
.copy{
  font-size: 10px;
  padding: 10px;
}
