/*menu superior*/
body{
  background: #ecf0f1;
}
.menu--top{
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: fixed;
  background: #000000;
  width: 100%;
  height: 50px;
}
.menu--mobile{
  display: none;
}
.menu--top img{
  position: absolute;
  top: 10px;
  left: -28px;
  width: 60px;
}
.wrap-cajaMenu{
  display: inherit;
}
.wrap--logo{
  position: absolute;
  left: 100px;
  width: 0px;
  height: 60px;
  border-left: 50px solid #ea0086;
  border-right: 50px solid #ea0086;
  border-bottom: 35px solid transparent;
}
.menu--top .caja--menu{
  position: absolute;
  display: flex;
  height: 100%;
  right: 0px;
}
.caja--menu li {
  color: #f1396d;
  cursor: pointer;
  padding: 15px;
  height: 40%;
}
.caja--menu a{
  color: #f1396d;
}
.caja--menu li:hover{
  color: #000000;
  background: #f1396d;
}
/*seccion seleccion de categorias menu top*/
.categoria-menu{
  display: none;
  z-index: 4;
  top: 50px;
  position: fixed;
  width: 100%;
  height: 300px;
  background: #000;
  color: red;
}
.categorias-items{
  background: yellow;
  position: absolute;
  width: 250px;
  height: 100%;
  right: 0px;
  text-align: center;
}
.categorias-items h2{
  padding: 20px 0px;
}
/*slider o primera seccion*/
.slider{
  z-index: 1;
  position: relative;
  background-image: url("../img/fototienda.jpg");
  height: 70vh;
  width: 100%;
  background-size: cover;
}
.slider .wrap--text{
  position: absolute;
  bottom: 70px;
  left: 50px;
  min-width:600px;
}
.wrap--text h2{
  font-family: "Lato";
  font-weight: 300;
  font-size: 140px;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.9
}
.wrap--text h3{
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin: 0;
  text-align: right;
}
/*seccion 2 tienda*/
.wrap-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  width: 75%;
  margin: 20px auto;
}
.item{
  background: #dddddd;
  box-shadow: 0 5px 20px -10px #000;
}
.wrap-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background: black;
}
.wrap-img img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.item .nombre-produc, .precio-produc{
  font-size: 25px;
  font-family: 'Roboto';
  margin: 10px;
  text-transform: capitalize;
}
.item button{
  position: relative;
  margin: 10px 54px;
  border: none;
  background: #9d133a;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.item button:hover{
  background: #c61848;
}
/*modal detalles de los articulos*/
.fondoModal{
  display: none;
  position: absolute;
  z-index: 14;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}
.wrap-modalDetalle{
  display: none;
}
.modalDetalle{
  z-index: 15;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 100%;
  grid-gap: 10px;
  top: 0px;
  left: 0px;
  width: 90%;
  height: 80%;
  background: #fff;
  padding: 10px;
  margin: 50px;
  border-radius: 3px;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000;
}
.image img{
  max-width: 100%;
  max-height: 100%;
}
.wrap-detalle{
  font-size: 20px;
  font-family: 'lato';
  text-transform: capitalize;
}
.wrap-detalle .nombre{
  font-size: 30px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.wrap-detalle .descripcion{
  font-size: 15px;
}
.wrap-detalle .precio, .talla, .color, .cantidad{
  margin-top: 20px;
}
.wrap-detalle .cantidad{
  font-size: 30px;
}
.wrap-detalle button{
  position: relative;
  border: none;
  background: #9d133a;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 25px;
}
.wrap-detalle button:hover{
  background: #c61848;
}
/*carrito de compras*/
.carrito{
  display: none;
  z-index: 3;
  position: fixed;
  width: 450px;
  top: 50px;
  right: 0px;
  background: #ecf0f1;
  height: 93vh;
  font-family: 'lato';
  font-weight: lighter;
  box-shadow: -5px 0px 20px -10px black;
}
.titulo-carrito{
  background: lime;
  padding: 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #9d133a;
}
.btn-comprar{
  width: 100%;
  height: 50px;
  /*background: red;*/
}
.btn-comprar button{
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #9d133a;
  width: 95%;
  outline: none;
  position: relative;
  margin: 1.4% 2.5%;
  border-radius: 3px;
}
.btn-comprar button:hover{
  background: #c61848;
}
.wrap-items-carrito{
  width: 100%;
  height: 82%;
  overflow: auto;
}
.item-carrito{
  display: grid;
  grid-template-columns: 120px repeat(2,1fr);
  grid-gap: 10px;
  width: 100%;
  height: 128px;
  margin: 10px 0px;
  background: #dedede;
}
.item-cart-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.item-cart-img img{
  width: 100%;
}
.item-cart span{
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 10px;
}
.item-cart{
  font-family: 'lato';
  padding: 10px 0px;
}
.restar-carrito{
  border: none;
  outline: none;
  padding: 8px 10px;
  background: #9d133a;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.restar-carrito:hover{
  background: #c61848;
}
/*perfil del usuario*/
.wrap-contenido{
  position: relative;
  top: 110px;
  margin: 0px auto 180px auto;
  width: 90%;
  border-radius: 3px;
  background: #dfdfdf;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 350px 250px;
  grid-template-areas:
  "imgPerfil nomPerfil"
  "infoPerfil infoPerfil";
}
.imagen-perfil{
  grid-area: imgPerfil;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-perfil img{
  border-radius: 50%;
  width: 70%;
  border: 1px solid black;
  background: #f0f0f0;
}
.nombre-perfil{
  grid-area: nomPerfil;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nombre-perfil label{
  margin-right: 30px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid #b5b5b5;
}
.info-perfil{
  grid-area: infoPerfil;
  padding: 0px 150px;
}
.info-perfil label span{
  font-weight: lighter;
  font-size: 18px;
}
.info-perfil label{
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bolder;
  text-transform: capitalize;
}
.direccion-perfil, .correo-perfil, .doc-perfil, .muni-perfil, .depto-perfil, .num-perfil{
  margin: 15px 0px;
}
/*footer usuario*/
.footer{
  background: black;
  width: 100%;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  font-family: 'lato';
}
.contacto-titulo{
  font-size: 20px;
  padding: 5px;
  font-weight: 900;
  text-transform: uppercase;
}
.contacto-numero{
  padding: 5px;
}
.iconos-social{
  padding: 5px 0px 5px 0px;
  font-size: 25px;
  font-family: 'lato';
  text-transform: uppercase;
}
.iconos-social a{
  color: #fff;
}
.copy{
  font-size: 10px;
  padding: 10px;
}
