body{
  overflow-x: hidden;
}
 #gallery{
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   left: 300px;
   top: 0px;
   padding: 10px;
   width: 52%;
   min-height: 12em;
   /*background: red;*/
 }
  .gallery.custom-state-active{
  }
  .gallery li{
    z-index: 4;
    width: 200px;
    padding: 0.4em;
    margin: 16px 9px;
    text-align: center;
  }
  .gallery li h5{
    margin: 0 0 0.4em;
  }
  .gallery li a{
    color: red;
  }
  .gallery li img{
    width: 200px;
    height: 200px;
  }

  #contenedor-objetos{
    z-index: 3;
    position: fixed;
    right: 0px;
    top: 50px;
    width: 300px;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }
  .open{
    transform: translateX(105%);
  }
  #contenedor-objetos h4{
    line-height: 16px;
    margin: 0 0 0.4em;
  }
  #contenedor-objetos h4 .ui-icon{
    color: #000;
  }
  #contenedor-objetos .gallery h5{
    display: none;
  }
  .input-value{
    display: none;
  }
  .input-number-pro{
    width: 50px;
  }
  #confirm-order{
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    background-color: #ea0086;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    margin: 0px 85px 10px;
  }
