RewriteEngine on

RewriteRule ^inicio$ index.php?c=views
RewriteRule ^dashboard$ index.php?c=admin&a=dashboard

#CATALOGO
RewriteRule ^catalogo$ index.php?c=tienda
RewriteRule ^ver-(\w+)$ index.php?c=tienda&categoria=$1
RewriteRule ^catalogo-pag-(\w+)$ index.php?c=tienda&pagina=$1

RewriteRule ^catalogo-(\w+)-(\w+)$ index.php?c=tienda&categoria=$1&pagina=$2


RewriteRule ^selectColor$ index.php?c=products&a=readByCodColor
RewriteRule ^selectTalla$ index.php?c=products&a=readByCodTalla

#VIDEOS
RewriteRule ^videos$ index.php?c=videos
RewriteRule ^gestion-videos$ index.php?c=videos&a=gestion

#PRODUCTOS
RewriteRule ^gestion-producto$ index.php?c=products
RewriteRule ^guardar-producto$ index.php?c=products&a=newRegister
RewriteRule ^eliminar-producto$ index.php?c=products&a=delete
RewriteRule ^moficar-producto-(\w+)$ index.php?c=products&a=viewUpdate&data=$1
RewriteRule ^guardar-modificacion-producto$ index.php?c=products&a=update&data=$1
RewriteRule ^dataModal$ index.php?c=products&a=readByCod
RewriteRule ^cambiar-imagenes$ index.php?c=products&a=viewImages

#USUARIOS
RewriteRule ^guardar-usuario$ index.php?c=user&a=newUser

#NOTICIAS
RewriteRule ^noticias$ index.php?c=news
RewriteRule ^gestion-noticias$ index.php?c=news&a=gestion


#LOGIN
RewriteRule ^validar-inicio-sesion$ index.php?c=auth&a=validateUser
RewriteRule ^cerrar-sesion$ index.php?c=auth&a=singOut


#pedido
RewriteRule ^realizar-pedido$ index.php?c=orders&a=newOrder

#CLIENTES
RewriteRule ^cliente$ index.php?c=customer
RewriteRule ^mi-perfil$ index.php?c=customer&a=profile
RewriteRule finalizar-sesion$ index.php?c=customer&a=logout

#CATEGORIAS
RewriteRule ^gestion-categoria$ index.php?c=tienda&a=gestionar
RewriteRule ^nueva-categoria$ index.php?c=category&a=newCategory
RewriteRule ^ver-categoria-(\w+)$ index.php?c=category&a=view&data=$1
RewriteRule ^eliminar-categoria-(\w+)$ index.php?c=category&a=delete&data=$1
RewriteRule ^actualizar-categoria-(\w+)$ index.php?c=category&a=viewUpdate&data=$1
RewriteRule ^actualizar-cat$ index.php?c=category&a=update&data

#IMAGENES
RewriteRule ^cropp-(\w+)$ index.php?c=cropp&a=image&folder=$1
RewriteRule ^croppProducts2$ index.php?c=cropp&a=imageProduct2

#validar
RewriteRule ^validar_correo$ index.php?c=user&a=readByEmail
RewriteRule ^catalogo--(\w+)$ index.php?c=customer&data=$1
