RewriteEngine on

RewriteRule ^landing$ index.php?c=views&a=landin
RewriteRule ^catalogo$ index.php?c=tienda
RewriteRule ^dashboard$ index.php?c=admin&a=dashboard

#PRODUCTOS
RewriteRule ^gestion-producto$ index.php?c=products
RewriteRule ^guardar-producto$ index.php?c=products&a=newRegister


#USUARIOS
RewriteRule ^guardar-usuario$ index.php?c=user&a=newUser

#NOTICIAS
RewriteRule ^noticias$ index.php?c=news

#VIDEOS
RewriteRule ^videos$ index.php?c=videos

#LOGIN
RewriteRule ^validar-inicio-sesion$ index.php?c=auth&a=validateUser
RewriteRule ^cerrar-sesion$ index.php?c=auth&a=singOut

#TIENDA
RewriteRule ^gestion-categoria$ index.php?c=tienda&a=gestionar

#pedido
RewriteRule ^realizar-pedido$ index.php?c=orders&a=newOrder

#CATEGORIAS
RewriteRule ^nueva-categoria$ index.php?c=category&a=newCategory
RewriteRule ^ver-categoria-(\w+)$ index.php?c=category&a=view&data=$1
RewriteRule ^eliminar-categoria-(\w+)$ index.php?c=category&a=delete&data=$1
RewriteRule ^actualizar-categoria-(\w+)$ index.php?c=category&a=viewUpdate&data=$1
RewriteRule ^actualizar-cat$ index.php?c=category&a=update&data

#validar
RewriteRule ^validar_correo$ index.php?c=user&a=readByEmail
